* {
  font-size: 25px; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  body .buttons, body .output {
    display: -ms-flexbox;
    display: flex; }
  body div button {
    padding: 10px;
    border: 3px solid orange; }
